* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
body{
  background-color: #D4B996;
height:500px;
}
