@font-face {
  font-family: MyWebFont;
  src: url(../MOD20.TTF); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}  
*{font-family: MyWebFont;}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
